h1{
    color: red;
}

.first{
    color: blueviolet;
    padding-right: 10px;
}

#second{
    font-size: 30px;
}
.margin-left{
    margin-left: 30px
}
#third{
    border: 10px;
    border-top: 10px;

}
body {
    margin-left: 30px;
}
.border {
    border-style: outset;
    border-width: 15px;
    
    
}
.div1 {
    background: lightblue;
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: green;
}